{
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "proseWrap": "always",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2
}
